@model IEnumerable<PROD.Models.CustModel>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customerid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoyaltyPoints)
        </th>
      
    </tr>


    <tr>
        <td>
            @Html.DisplayFor(model => model.Customerid)
        </td>
        <td>
            @Html.DisplayFor(model => model.CustomerName)
        </td>
        <td>
            @Html.DisplayFor(model => model.Email)
        </td>
        <td>
            @Html.DisplayFor(model => model.Password)
        </td>
        <td>
            @Html.DisplayFor(model => model.LoyaltyPoints)
        </td>
       
    </tr>


</table>
